# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
env/

# Django
*.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env
*.env

# IDE
.vscode/
.idea/
*.cursor

# OS
.DS_Store
Thumbs.db

# 대화기록 및 개인 파일
*.txt
